<h2 mat-dialog-title>{{ isEditMode ? 'Edit Event' : 'New Event' }}</h2>

<form [formGroup]="eventForm" (ngSubmit)="saveOrUpdateEvent()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="eventForm.get('title')?.invalid">Title is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Start Date & Time</mat-label>
    <input matInput type="datetime-local" formControlName="startDateTime">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>End Date & Time</mat-label>
    <input matInput type="datetime-local" formControlName="endDateTime">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Recurrence</mat-label>
    <mat-select formControlName="recurrenceType">
      <mat-option *ngFor="let option of recurrenceOptions" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Reminder</mat-label>
    <input matInput [matDatepicker]="reminderPicker" formControlName="reminder" />
    <mat-datepicker-toggle matSuffix [for]="reminderPicker"></mat-datepicker-toggle>
    <mat-datepicker #reminderPicker></mat-datepicker>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="eventForm.invalid">
      {{ isEditMode ? 'Update' : 'Save' }}
    </button>
  </div>
</form>
